<div class= "whiteboard">
<center><h2>Enter Store Code</h2></center>
    <center><%= form_with model: @session do |f| %>
    <p>Access Num -- StoreID -- EmployeeID<br></p>
    <%= f.password_field :password%>
    <%= f.text_field :store_id %>
    <%= f.text_field :EmployeeInit %>
    <%= f.submit "OK"%>
 <%end%>
 </center>
</div>