<div class= "whiteboard">
<center><h2>Enter Store Code</h2></center>
    <center><%= form_tag('/login') do %>
    <p>Access Num -- StoreID -- EmployeeID<br></p>
    <%= password_field_tag :password %>
    <%= text_field_tag :store_id %>
    <%= text_field_tag :employeeInit %>
    <%= submit_tag "OK"%>
    <%end%>
 </center>
</div>