<div class= "whiteboard">
<div class= "paper">
<section id= "instructions">
<small><center> Interactions </center></small>
<small><em><h5 class= "highlights">PLEASE NOTE:</h5></em> Notes are <u>not responded to.</u> Interactions will receive a reply .</small>
</section>
<center>
    <p class= "endnotes">
    <%= form_for :interaction, url: new_interaction_path( @user ) do |f| %>
        <%= f.text_area :content, size: "55x8"%><br>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class= "initials">
        <p class= "uppercase">
        <small>submitted by, <%= f.text_field :employeeInit, size: "3", value: "#{@user.employeeInit}", readonly: true%></small>
        </p>
        </div>
        <%= f.submit%>
        <%end%>
        </p></center>
</div>
</div>