        <h4> Search By SKU</h4>
        <%= form_with model: @card  do |form|%>
        <%= form.text_field :sku_search%>
        Search By Occasion
        <%= form.text_field :occasion_search%>
        <%= submit_tag "Search"%>
        <%end%>        
        <br>
  <table>
    <thead>
    <tr>
      <td colspan ="2">SKU <td>
      <td></td>
      <td>Lastest Update</td>
      <td></td>
      </tr>
    </thead>
    <tbody>
    <%@cards.all.each do |card| %>
    <tr>
    <td colspan = "2"><%= link_to "#{card.sku}", card_path(card) %></td>
    <td></td>
    <td></td>
    <td><%= card.updated_at.strftime("%a, %B %d, %Y") %></td>

    </tr>
    <%end%>
    </tbody>
    </table>
