  
  <div class= "details">
  <center><h2> Search</h2>
  <%= form_with url: '/cards', method: :get do |form| %>
    <%= form.label :search, "Enter Entire SKU:" %>
    <%= form.text_field :search %>
    <%= form.submit "Find!"%>
    <% if :search %>
    <%= link_to "return to index", cards_path%> 
    <%end%> 
    <%end%>
  <br>
  <h2>Current Inventory</h2>
  <table>
    <thead>
    <tr>
      <td colspan ="2">SKU <td>
      <td></td>
      <td>Lastest Update</td>
      <td></td>
      </tr>
    </thead>
    <tbody>
    <%@cards.all.each do |card| %>
    <tr>
    <td colspan = "2"><%= link_to "#{card.sku}", card_path(card) %></td>
    <td></td>
    <td></td>
    <td><%= card.updated_at.strftime("%a, %B %d, %Y") %></td>

    </tr>
    <%end%>
    </tbody>
    </table>
    </center>
</div>
