  
  <h2> Search</h2>
  <%= form_with url: '/cards', method: :get do |form| %>
    <%= form.label :query, "Enter SKU:" %>
    <%= form.text_field :sku_search %>
    <%= form.submit "Find SKU"%>
    <%end%>
    <%= form_with url:'cards_path', method: :get do |form| %>    
    <%= form.label :query, "Search by Occasion:" %>
    <%=form.collection_select(:occasion_search, Occasion.all, :id, :name_of) %><br>
    <%= form.submit "Search By Occasion" %>
  <% end %>
  <br>
  <h2>Current Inventory</h2>
  <table>
    <thead>
    <tr>
      <td colspan ="2">SKU <td>
      <td></td>
      <td>Lastest Update</td>
      <td></td>
      </tr>
    </thead>
    <tbody>
    <%@cards.all.each do |card| %>
    <tr>
    <td colspan = "2"><%= link_to "#{card.sku}", card_path(card) %></td>
    <td></td>
    <td></td>
    <td><%= card.updated_at.strftime("%a, %B %d, %Y") %></td>

    </tr>
    <%end%>
    </tbody>
    </table><br>


