<div class="log-form">
<h2><center>Sign In</center></h2>
  <%=form_with model: @session do |f| %>
    <small><%= f.label :"Enter Email"%></small>
    <%= f.text_field :email%><br>
    <small><%= f.label :"Access ID"%></small>
    <%= f.password_field :password%>
    <%= f.submit "Go!" %>
    <%end%>
</div>

