<div class= "details">

Primary Occasion: <%= @card.occasion.name_of %><br>
<b> description: </b><%= @card.description %><br>
<b>Distributed by <%= @manufacturer.name %></b> <br>
Located in Aisle: <%= @card.aisle.aisle_number %><br>
Total in Stock: <%= @card.in_stock %> <br>
<br>
<br>
<div class="frame">
<% if @card.avatar.attached?%>
<image src="<%=(url_for(@card.avatar))%>"> 
<% end%>
<br>
<center><header><u><%= @card.sku %></u> </header></center><br>

</div>
<br>
<%=link_to "Update inventory", edit_card_path(@card) %> <br>
<%=link_to "Back", cards_path %>

</div>