<% form_tag do |form|%>
<%= form.text_area :content, value:    
"The following was sent to your account via google mail.<br>
<p>Hi <%= @user.email %>, </p>

<p>Thanks for registering with Aisle Inventory! To confirm your registration click the URL below.</p>

<p># # # # # #<%= confirm_email_user_url(@user.confirm_token) %># # # # # # # </p>

<p>Aisle Inventory.</p>%>
<%= form.hidden_field :employeeInit, value: "#{@user.employeeInit}" %>
<%= form.hidden_field :employee_id, value: "#{@user.id}"%><br>
<%=form.submit%> 
<%end%>
