<!DOCTYPE html>
<html>
  <head>
    <title>AisleInventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='calculator'>
    <div class='display backlight'>
    <br>
    <center><% flash.each do |type, msg| %>
      <div class="error-messages">
        <%= msg %>
      </div>
    <% end %>
</center>  
     </div>
      <%= yield %>

      <section class="app">
  <aside class="sidebar">
       <header>
       <br>
    </header>
  <nav class="sidebar-nav">
<br>
<br>
<br>
    <ul>
      <li>
        <a href="#"><i class="ion-bag"></i> <span></span></a>
        <ul class="nav-flyout">
          <li class="nav-add"><b><u>Adjustments</u></b>
          </li>
          <li>
            <%=link_to "By Occasion", occasions_path %>
          </li>
          <li>
            <%= link_to "By Manufacturere", manufactureres_path %>
          </li>
          <li>
          </li>
        </ul>
      </li>
      <li>
        <ul class="nav-flyout">
          <li>
        </ul>
      </li>
      <li class="nav-add"><b><u>Locator</u></b>
      </li>
    <li>
  </li>
  <li>
  <small><%=link_to "Find a SKU", cards_path %></small>
</li>

    </ul>
    <ul class="nav-flyout">
          <li>
        </ul>
      </li>
      <li class="nav-add"><b><u>Aisle Access</u></b>
      </li>
      <% if session[:user_id] %>
      <small> <h4> Logged in  as: <%= @session[:user_id] %></h4></small><br>
      <%= link_to "End Session", user_note_path %>
        <% if @user.notes %>
          <small><%= link_to('Exit Aisle', {:controller => "sessions", :action => 'logout'}, :method => :delete) %></small>
        <%end%>
        <% if User.first %>
        <%= link_to '<button type="button">Reset AI</button>'.html_safe, new_user_path %>
        <%end%>
        <% else %>
       <%= button_to 'request_access', "/auth/github", method: :post %><br>
        <small><%=link_to "login", login_path %></small><br>
       <%= link_to '<button type="button">Sign Up</button>'.html_safe, new_user_path %> <br>
      <% end %>
     
<%= link_to "Home", root_path %>
      <li>
      </li>
      <li></li>
      <li class="nav-standout"><b><u>ADD</u></b>
      <li>
      <small><%=link_to "Manufacturer", new_manufacturere_path%></small>
    </li>
    <li>
    <small><%=link_to "Add Aisle", new_aisle_path%></small>
  </li>
  <li>
    <small><%=link_to "Occasion", new_occasion_path%></small>
  </li>
  <li>
  <small><%=link_to "Card SKU", new_card_path%></small>
</li>
    <li></li>
      <li>
    <li>

  </li>
    </ul>
  </nav>
</aside>
      </section>
  </div>
</body>
</html>